.DS_Store
cover.out
# database file directory
/.db/
# personal developer settings
/.dev/
# external dependencies from Depfile
/.ext/
# build output
/dist/

# https://github.com/golang/go/issues/53502
# go.work.sum is machine specific and should not be checked in
go.work.sum
